.vscode
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8.uvguix.Kebri
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8_Lab8.dep
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.axf
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.build_log.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.hex
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/main.o
Lab9/Proteus-9/Lab8.pdsprj.SHAYAN-PC.Kebri.workspace
