.vscode
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8.uvguix.Kebri
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8_Lab8.dep
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.axf
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.build_log.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.hex
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/main.o
Lab9/Proteus-9/Lab8.pdsprj.SHAYAN-PC.Kebri.workspace
Lab9/CubeMX-9/Lab8/Lab8.ioc
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8.uvguix.Kebri
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8.uvprojx
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8_Lab8.dep
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.axf
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.build_log.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.hex
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.htm
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/Lab8.map
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/main.o
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/stm32f4xx_hal_msp.o
Lab9/CubeMX-9/Lab8/MDK-ARM/Lab8/stm32f4xx_it.o
Lab9/Proteus-9/Lab8.pdsprj.SHAYAN-PC.Kebri.workspace
Lab9/Proteus-9/Project Backups/Lab8 [Autosaved].pdsprj
